:root
{
    margin: 0%;
    background-color: aqua;
    text-align: center;
    fill: #f1c4f1
   
}
.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?w=800);

}